/*****************************************************
                            NASA
******************************************************/

.nasa {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.nasa-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#nasa-img {
    padding-top: 20px;
    width: 50%;
}
